@media (max-width: 1200px) {
  .sale-block {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .sale-block {
    font-size: 8px;
  }
}

@media (max-width: 550px) {
  .sale-block {
    font-size: 6px;
    top: 16px;
  }
}