/* You can add global styles to this file, and also import other style files */
.chart-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.chart-wrapper canvas {
  width: 100% !important;
  height: auto !important;
}

.chart-title {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #A9A9A9;
  font-weight: bold;
}