/* You can add global styles to this file, and also import other style files */
.chart-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.chart-wrapper canvas {
  width: 100% !important;
  height: auto !important;
  padding-top: 30px;
}

.chart-title {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #A9A9A9;
  font-weight: bold;
  text-align: center;
}

.sale-block {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgba(238, 62, 78, 0.8);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  z-index: 10; /* Ensures it sits on top of the chart */
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .chart-title {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .chart-title {
    font-size: 17px;
  }
}

@media (max-width: 550px) {
  .chart-title {
    font-size: 15px;
  }
}